@model Entities.Concrete.AppRole

@{
    Layout = Layout;
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rol Ekle</h4>
            <p class="card-description">
            </p>
            <form class="forms-sample" asp-action="Create" asp-controller="Role">
                <div class="form-group">
                    <label for="exampleInputUsername1">Rol Adı</label>
                    <input type="text" class="form-control" id="RoleName" name="RoleName" placeholder="Rol Adı">
                </div>
                <button type="submit" class="btn btn-primary me-2">Ekle</button>
            </form>
        </div>
    </div>
</div>