@model List<Entities.Concrete.Tenant>
@{
    ViewData["Title"] = "TenantIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-2 grid-margin stretch-card"></div>

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Firmalar</h4>
            <span><a class="btn btn-primary" href="@Url.Action("Create","Tenant")">Firmalar Ekle</a></span>
            <div class="table-responsive"  style=" overflow-y: auto; max-height: 600px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Firma Adı</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenantName</td>
                                <td></td>
                                <td><a class="btn btn-dark" href="@Url.Action("Update","Tenant",new{id=item.Id})">Güncelle</a><a class="btn btn-danger" href="@Url.Action("Delete","Tenant",new{id=item.Id})">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

