@model Entities.Concrete.Tenant
@{
    Layout = Layout;
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Firma Güncelle</h4>
            <p class="card-description">
            </p>
            <form class="forms-sample" asp-action="Update" asp-controller="Tenant">
                @Html.Hidden("Id",Model.Id)
                <div class="form-group">
                    <label for="exampleInputUsername1">Firma Adı</label>
                    <input type="text" class="form-control" id="TenantName" name="TenantName" value="@Model.TenantName" placeholder="Firma Adı">
                </div>
                <button type="submit" class="btn btn-primary me-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>